.actionButtons{
    display:flex;
}
.actionButtons__icon{
    cursor: pointer;

    margin:0 4px;
    font-size:28px;
}
.actionButtons__icon.link{
    color:rgb(68, 233, 255);
}
.actionButtons__icon.edit{
    color:rgb(153, 153, 255);
}
.actionButtons__icon.delete{
    color:rgb(250, 104, 104);
}